.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    // -fx-text-fill: #2d3e4c;
}

.button, .toggle-button{
    -fx-effect: dropshadow(two-pass-box , darkgray, 2, 0.0 , 2, 2);
    -fx-background-color: rgba(205,205,205,0.7);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}

.button:pressed, .toggle-button:pressed{
    -fx-background-color: rgba(180,180,180,0.7);
}

.button:hover, .toggle-button:hover{
    -fx-background-color: rgba(235,235,235,0.7);
}

.button:focused, .toggle-button:focused{
    -fx-background-color: rgba(205,205,205,0.7);

}

.toggle-button:selected {

    -fx-effect: dropshadow(two-pass-box , yellow, 0, 0.0 , 0, 0);
}

.anchor-pane, .pane {
    -fx-background-color: darkgray;
}

.dark-container, .tab
{
    -fx-background-color: darkgray;
}

.titled-pane > .title
{
    -fx-effect: dropshadow(two-pass-box , yellow, 0, 0.0 , 0, 0);
    -fx-background-color: darkgray, gray, gray;// -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    // -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.text-field, .text-area .scroll-pane .content,  #networkStatus {
    -fx-background-color: rgba(220, 220, 220, 1);
    -fx-padding: 0 0 0 5;
    -fx-background-radius: 0;
}

#instanceName, #remoteAddress {
    -fx-padding: 0 0 0 5;
    -fx-effect: dropshadow(two-pass-box , darkgray, 2, 0.0 , 2, 2);
    -fx-background-color: rgba(250,250,250,1);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
}